<demo-message text="todo.message" ng-show="!!todo.message"></demo-message>

<div class="form-group">
  <input type="text" required ng-model="todo.todo.title" placeholder="What needs to be done?" class="form-control">
  <textarea required class="form-control" rows="5" ng-model="todo.todo.desc"></textarea>
</div>

<div class="btn-group form-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="todo.back()">戻る</button>
  <button type="button" class="btn btn-default" ng-click="todo.add()">追加</button>
  <button type="button" class="btn btn-default" ng-click="todo.update()">更新</button>
  <button type="button" class="btn btn-default" ng-click="todo.delete()">削除</button>
  <button type="button" class="btn btn-default" ng-click="todo.countup()">UP</button>
</div>
